pytest
matplotlib
einops==0.3.2
batchgenerators==0.21
git+https://github.com/MIC-DKFZ/nnUNet.git@77bc485ee025a61feb91cb0a0ed1c61a32a0f39f
git+https://github.com/FabianIsensee/hiddenlayer.git@more_plotted_details#egg=hiddenlayer
git+https://github.com/rwightman/pytorch-image-models.git@a41de1f666f9187e70845bbcf5b092f40acaf097
-e.